{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello google</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://raw.githack.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
</head>
<body>


<script type="text/javascript" src="{% static 'javascript/javascript.js' %}"></script>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">RailBuddy</a>

    </div>
</nav>
<div class="container">
    <div class="row">
        <form class="col s12" action="{% url 'trainBetweenStation' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">arrow_upward</i>
                    <input id="icon_prefix" name="from_station" type="text" class="validate" placeholder="From station">

                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">arrow_downward</i>
                    <input id="icon_telephone" name="to_station" type="text" class="validate" placeholder="To station">

                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">date_range</i>
                    <input id="icon_prefix" name="date" type="text" class="validate" placeholder="Time">

                </div>
            </div>
            <button class="btn waves-effect waves-light right" type="submit" name="action">Go
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
</div>
{% block content %}
    <div class="container">
    <table>
    <thead><tr>
    <h4>{{ source }} to {{ dest }} trains</h4></tr>
    </thead>
    {% for train in trains %}
        <tr>
            <td>
                <strong style="color:blue"> {{ train.0 }}</strong><br>
                {{ train.1 }}&nbsp;{{ train.2 }}&ensp;-> &ensp; {{ train.3 }}&nbsp;{{ train.4 }} &emsp; {{ train.5 }}

            </td>

        </tr>

    {% endfor %}
{% endblock content %}
</table>
</div>
</body>
